<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-10">
      <div class="page-header">
        <h1>FAQ <small>Perguntas frequentes</small></h1>
      </div>

      <div>
        <p><h3>O NewsTimeline é gratuito?</p></h3>
        <p><h4>Sim, o uso dos nossos serviços é totalmente gratuito.</p></h4>
      </div>
      <div>
        <p><h3>Sou novo por aqui, como funciona o site?</p></h3>
        <p><h4></p>O site funciona de maneira bem simples, o usuário faz o seu cadastro, após o cadastro ser efetuado com sucesso
        ele vai poder escolher os temas que lhe interessam, feito isso nós iremos disponibilizar para ele as noticias referentes a esses temas.</h4>
      </div>
      <div>
        <p><h3>Minha página está sem noticias, o que aconteceu?</p></h3>
        <p><h4></p>Provavelmente você ainda não escolheu suas preferências de tema, logo não existem notícias a serem exibidas.</h4>
      </div>
    </div>
  </div>

</div>
