<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-8">
      <div class="page-header">
        <h1>Quem somos nós</h1>
      </div>

      <p><h4>O News Timeline é um projeto idealizado e desenvolvido durante a cadeira de Estágio 2 da Faculdade 7 de Setembro, aplicada
      no semestre 2016.1, pela equipe MentalBug.</h4></p>

      <p><h4>O sistema busca atender aqueles usuários que por muitas vezes não possuem tempo para se atualizar com as novidades do dia
      visitando os sites de noticia. Para fazer isso ele fornece todas as noticias dos principais sites em um único lugar, e agrupadas
      apenas pelos temas que lhe interesam de forma totalmente personalizada.</h4></p>
    </div>



    <div class="col-lg-3">
      <div class="row-fluid">
        <div class="col-lg-12">

              <div class="thumbnail">
                <img src="http://i63.tinypic.com/33bisro.jpg" alt="Rafael Hashimoto">
                <div class="caption">
                  <h3>Rafael Hashimoto</h3>
                  <p>Estudante do sétimo período do curso de Sistemas de Informação da Faculdade 7 de Setembro</p>
                  <p><a href="mailto:hashimotorafa@gmail.com" class="btn btn-info" role="button">Contato</a></p>
                </div>

              </div>
        </div>
      </div>

      <div class="row-fluid">

        <div class="col-lg-12">
          <div class="thumbnail">
            <img src="http://i63.tinypic.com/317k29t.jpg" alt="Romulo Furtado">
            <div class="caption">
              <h3>Rômulo Furtado</h3>
              <p>Estudante do sétimo período do curso de Sistemas de Informação da Faculdade 7 de Setembro</p>
              <p><a href="mailto:romulofurtadoo@gmail.com" class="btn btn-info" role="button">Contato</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
