<!--Jumbotron-->
<div class="jumbotron-custom text-center">
      <div class="container">
        <h1>HELL YEAH!!!</h1>
        <p>Todas as notícias que importam para você em um único lugar, de forma personalizada </p>
        <p><a class="btn btn-primary btn-lg" href="users/new" role="button" >Cadastre-se</a></p>
      </div>
</div>

   <!-- Marketing messaging and featurettes
   ================================================== -->
   <!-- Wrap the rest of the page in another container to center all the content. -->

   <div class="container marketing">

     <!-- Three columns of text below the carousel -->
     <div class="row">
       <div class="col-lg-4" align="center">
         <img class="img-circle" src="http://i65.tinypic.com/oa9iyb.jpg" alt="Generic placeholder image" width="140" height="140">
         <h2>Quem somos</h2>
         <p>Saiba mais sobre nós</p>
         <p><a class="btn btn-default" href="about/aboutus" role="button">View &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4" align="center">
         <img class="img-circle" src="http://i64.tinypic.com/nmfg2a.jpg" alt="Generic placeholder image" width="140" height="140">
         <h2>Fale conosco</h2>
         <p>Tem alguma sugestão ou reclamação? Quer ser nosso parceiro? Entre em contato conosco</p>
         <p><a class="btn btn-default" href="contact/contactus" role="button">View &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4" align="center">
         <img class="img-circle" src="http://i68.tinypic.com/10h37ee.jpg" alt="Generic placeholder image" width="140" height="140">
         <h2>FAQ</h2>
         <p>Perguntas frequentes</p>
         <p><a class="btn btn-default" href="faq/perguntasfrequentes" role="button">View &raquo;</a></p>
       </div><!-- /.col-lg-4 -->
     </div><!-- /.row -->

    <div class="col-lg-12" align="left">
      <footer>
        <p>&copy; 2016 MentalBug</p>
      </footer>
    </div>
